body {
  background-color: #60d9f1;
}

.container {

}

header {
  display: flex;
  justify-content: center;
}
.player{
  height: 8vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.music-player {
  width: 90vw;
}

.search-form {
  height: 7vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#searchBox {
  width: 80vw;
  height: 3vw;
}

#searchBtn {
  border: 1px solid grey;
  font-size: 16px;
  border-radius: .25em;
  width: 15vw;
  height: 3vw;
}

.results {
  display: flex;
  margin: 0;
  padding: 0;
}

.grid-cell{
flex: 1;
}

.grid > .grid-cell {
  flex: 0 0 20%;

}

img {
  width: 15vw;
  height: 15vw;
}

/*#songTitle {
  font-size: 16px;
  font-family: inherit;

}

#artist {
  font-family: sans-serif;
  font-weight: bold;
}*/
